<%= form_for @translation, :html => { :class => 'form-horizontal form-model' } do |f| %>
  <div class="form-group">
    <%= f.label :times_right, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :times_right, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :times_wrong, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :times_wrong, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :times_skiped, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :times_skiped, :class => 'text-field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :times_resetted, :class => 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.number_field :times_resetted, :class => 'text-field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  translations_path, :class => 'btn btn-default' %>
    </div>
  </div>
<% end %>
