%table.table.table-striped
  %tr
    %th= smart_listing.sortable 'Section', :section
    %th= smart_listing.sortable 'Word 1', :word1
    %th= smart_listing.sortable 'Word 2', :word2
    %th
  - smart_listing.collection.each do |user|
    %tr.editable{data: {id: user.id}}
      = smart_listing.render partial: 'translations/translation', locals: {object: user}

  = smart_listing.item_new colspan: 4, link: new_translation_path

= smart_listing.paginate
= smart_listing.pagination_per_page_links