= bootstrap_form_tag layout: :horizontal do |f|
  .form-group
    .col-sm-2
      = label_tag :section
    .col-sm-8
      = number_field_tag :section, '{{translation.section}}', in: 0..100, tabindex: 1, class: 'form-control'
  -[:word1, :word2].each do |word|
    .form-group
      .col-sm-2
        = label_tag word
        %blockquote
          #greek_help(ng-if="translation.word1.language.name=='Greek'")= render partial: 'languages/help_greek'
      .col-sm-10
        = select_tag :language_id, options_from_collection_for_select(Language.uniq, :id, :name), class: 'selectize form-control', tabindex: 3
        = text_area_tag :name, "{{translation.#{word.to_s}.name}}", class:'form-control',
                        ng_class: "{greektext: translation.#{word.to_s}.language.name=='Greek'}", label: word.to_s.humanize, tabindex: 2

  .row
    %ul.list-group.col-sm-offset-1.col-sm-4
      -[:times_right, :times_wrong, :times_skipped, :times_resetted].each do |method|
        %li.list-group-item
          %span.badge= "{{translation.#{method}}}"
          = label_tag method
    .col-sm-offset-4.col-sm-3
      %input.btn.btn-primary(type="button" value="Save" ng-click="save(translation)" tabindex="4")
      %input.btn.btn-default(type="button" value="Cancel" ng-click="setEditId(-1)" tabindex="5")