<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @translation.word %>
</p>

<p>
  <strong>Word:</strong>
  <%= @translation.word %>
</p>

<p>
  <strong>Times right:</strong>
  <%= @translation.times_right %>
</p>

<p>
  <strong>Times wrong:</strong>
  <%= @translation.times_wrong %>
</p>

<p>
  <strong>Times skiped:</strong>
  <%= @translation.times_skiped %>
</p>

<p>
  <strong>Times resetted:</strong>
  <%= @translation.times_resetted %>
</p>

<%= link_to 'Edit', edit_translation_path(@translation) %> |
<%= link_to 'Back', translations_path %>
